/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 1px;
  padding-bottom: 20px;
  font-family: "Raleway";
  color: #777777;
}
.jumbotron {
	background:none;
	padding-bottom: 18px;
}
.jumbotron a {
	color:#777;
}
.jumbotron a:hover {
	color:#000;
}

.sprite {
	background: url(../img/sprite.png) no-repeat;
	display: inline-block;
	width: 35px;
	height: 35px;
	vertical-align: middle;
}
.sprite.illo {
	background:none;
	width:270px;
	height:270px;
}
	.sprite.illo img {
		border-radius: 2000px;
		width:270px;
	}
	.sprite.core {
		background-position: -324px -125px;
		width: 25px;
	}
	.sprite.experience {
		background-position: -358px -125px;
		width: 27px;
	}
	.sprite.education {
		background-position: -393px -125px;
		width: 27px;
	}
	.sprite.software {
		background-position: -432px -125px;
		width: 17px;
	}
	.sprite.loves {
		background-position: -462px -125px;
		width: 27px;
	}
	.sprite.image {
		background-position: -496px -125px;
		width: 27px;
	}
	.sprite.gallery {
		background-position: -537px -122px;
		width: 18px;
		text-indent: -9999px;
	}
	.sprite.comment {
		background-position: -568px -121px;
		width: 27px;
		padding-right: 35px;
	}
a {
	color: #999;
}
.btn-alex {
	background:#f2f2f2;
	border: none;
	color: #4c4c4c !important;
	box-shadow: none;
	width:140px;
	border-radius: 16px;
	font-size: 1.25em;
}
.btn-alex.active, .btn-alex:hover {
	background:#4c4c4c;
	border-color: #777777;
	color: #fff !important;
	box-shadow: none;
}
a.gallery {
	color: #000;
	text-decoration: none;
}

a.gallery:visited {
	color: #000;
}
.custom-cols {
	padding:15px;
	margin-bottom:42px;
}
.col-trim {
	display: block;
	width:100%;
	vertical-align: top;
}
.modal-dialog {
	z-index: 2000;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.col-trim {
		display: inline-block;
		width: 49%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.col-trim {
		width: 33%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.col-trim {
		width:auto;
		margin: 0px 30px;
	}
	.col-trim:first-child {
		margin-left:0px;
	}
}